In [ ]:
# Find job titles that make $70-110K ($35-$55) hour

In [1]:
import pandas as pd
pd.set_option('mode.chained_assignment', None)
pd.set_option('max_columns', 120)
pd.set_option('max_colwidth', 5000)
pd.options.display.max_rows = 999
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
#import datetime as dt
#from datetime import datetime
#from datetime import timedelta 
#import plotly.graph_objects as go

In [ ]:
"""These are the conversions for units of time less than a year:

70,000:
Hourly Wage : $33.65
Daily Wage : $269.23
Weekly Wage : $1346.15
Monthly Wage : $5833.33
Yearly Wage : $70,000.00

110,000
Hourly Wage : $52.88
Daily Wage : $423.08
Weekly Wage : $2115.38
Monthly Wage : $9166.67
Yearly Wage : $110,000.00

based on a converter here:

https://www.mtscastlerock.com/calc/index.php


"""

In [2]:
file_loc = "C:/Users/rmbrm/Documents/contract projects/data/Nestling jobs data missing removed.xlsx"
df = pd.read_excel(file_loc, index_col=None, na_values=['NA'])
df.shape

(43296, 14)

In [3]:
df['salary_unit'].value_counts()

yearly     32404
hourly      8243
monthly      980
weekly       941
daily        677
session       32
sales         16
mileage        3
Name: salary_unit, dtype: int64

In [4]:
yearly = df.loc[df['salary_unit'] == 'yearly']

In [5]:
yearly.shape

(32404, 14)

In [6]:
hourly = df.loc[df['salary_unit'] == 'hourly']
hourly.shape

(8243, 14)

In [7]:
monthly = df.loc[df['salary_unit'] == 'monthly']
monthly.shape

(980, 14)

In [8]:
weekly = df.loc[df['salary_unit'] == 'weekly']
weekly.shape

(941, 14)

In [9]:

daily = df.loc[df['salary_unit'] == 'daily']
daily.shape

(677, 14)

In [10]:
# Select jobs with salaries in the target range

In [11]:
year_final = yearly[((yearly.salary_low >= 70000) & (yearly.salary_low <= 110000)) | 
                    ((yearly.salary_high >= 70000) & (yearly.salary_high <= 110000))]
year_final.to_excel("C:/Users/rmbrm/Documents/contract projects/Nestling/2020/road_show/yearly_final.xlsx")
year_final.shape

(21483, 14)

In [12]:
# monthly
month_final = monthly[((monthly.salary_low >= 5833.33) & (monthly.salary_low <= 9166.67)) | 
                      ((monthly.salary_high >= 5833.33) & (monthly.salary_high <= 110000))]
month_final.to_excel("C:/Users/rmbrm/Documents/contract projects/Nestling/2020/road_show/monthly_final.xlsx")
month_final.shape

(593, 14)

In [13]:
# weekly
week_final = weekly[((weekly.salary_low >= 1346.15) & (weekly.salary_low <= 9166.67)) | 
                    ((weekly.salary_high >= 1346.15) & (weekly.salary_high <= 2115.38))]
week_final.to_excel("C:/Users/rmbrm/Documents/contract projects/Nestling/2020/road_show/weekly_final.xlsx")
week_final.shape

(596, 14)

In [14]:
# daily
day_final = daily[((daily.salary_low >= 269.23) & (daily.salary_low <= 423.08)) | 
                  ((daily.salary_high >= 269.23) & (daily.salary_high <= 423.08))]
day_final.to_excel("C:/Users/rmbrm/Documents/contract projects/Nestling/2020/road_show/daily_final.xlsx")
day_final.shape

(123, 14)

In [15]:
# hourly
hour_final = hourly[((hourly.salary_low >= 33.65) & (hourly.salary_low <= 52.88)) | 
                    ((hourly.salary_high >= 33.65) & (hourly.salary_high <= 52.88))]
hour_final.to_excel("C:/Users/rmbrm/Documents/contract projects/Nestling/2020/road_show/hourly_final.xlsx")
hour_final.shape

(3884, 14)

In [16]:
final = pd.concat([year_final, month_final, week_final, day_final, hour_final])
final.shape

(26679, 14)

In [52]:
final.to_excel("C:/Users/rmbrm/Documents/contract projects/Nestling/2020/road_show/all_final.xlsx")